name: Build APK from ZIP (AUTO FIX ASSET)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install unzip & wget
        run: sudo apt-get update && sudo apt-get install unzip wget -y

      - name: Extract ZIP
        run: |
          unzip *.zip -d project
          ls project

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          cache: true

      - name: AUTO FIX FONT ASSET
        run: |
          cd project
          mkdir -p fonts
          wget -O fonts/Orbitron-Regular.ttf https://github.com/google/fonts/raw/main/ofl/orbitron/Orbitron-Regular.ttf
          ls fonts

      - name: Flutter Doctor
        run: flutter doctor -v

      - name: Install Dependencies
        run: |
          cd project
          flutter pub get

      - name: Build APK
        run: |
          cd project
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: project/build/app/outputs/flutter-apk/app-release.apk
