name: Build APK from ZIP (AUTO FIX)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install unzip
        run: sudo apt-get update && sudo apt-get install unzip -y

      - name: Extract ZIP
        run: |
          unzip *.zip -d project
          ls project

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.6'
          cache: true

      - name: AUTO FIX pubspec SDK
        run: |
          cd project
          sed -i 's/sdk: .*/sdk: ">=3.3.0 <4.0.0"/' pubspec.yaml
          cat pubspec.yaml

      - name: Flutter Doctor
        run: flutter doctor -v

      - name: Install Dependencies
        run: |
          cd project
          flutter pub get

      - name: Build APK
        run: |
          cd project
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: project/build/app/outputs/flutter-apk/app-release.apk
